/* Importation de la font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --color-primary: #0f4872;
  --color-secondary: #fcb731;
  --color-button: #fcb731;
  --color-badge: #fc8630;
  --font-titre: "Poppins", sans-serif;
  --font-text: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: var(--color-primary);
  height: 620px;
  min-height: 500px;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 5em;
  position: sticky;
  transition: 0.3s;
  z-index: 999;
}

nav .logo {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: var(--font-titre);
  font-size: 2.5rem;
  color: #fff;
  text-decoration: none;
}

.logo > img {
  height: 40px;
  max-height: 25px;
}

.logo > span {
  font-weight: 700;
}

/* LIENS DE NAVIGATIONS */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  list-style: none;
}

.nav li > a {
  color: #fff;
  text-decoration: none;
  font-family: var(--font-titre);
  font-weight: 300;
  font-size: 1.15rem;
  transition: 0.4s ease;
}

.nav .active {
  color: var(--color-secondary);
}

.nav li > a:hover {
  color: var(--color-secondary);
}

.menu__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__btn > span {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 2.5px;
  border-radius: 20px;
}

#menu__toggle,
.menu__btn,
.menu__btn > span {
  visibility: hidden;
}

/* ****************************
******************************
*************************
*MEDIA QUERIES MOBILE*/
@media screen and (max-width: 640px) {
  header {
    min-height: 650px;
    min-width: 100%;
  }

  nav {
    padding: 1em 1em;
    background-color: var(--color-primary);
  }

  nav .logo {
    gap: 3px;
    font-size: 1.5rem;
  }

  nav .menu__btn > span {
    visibility: visible;
  }

  .nav {
    display: none;
    gap: 20px;
  }

  #menu__toggle:checked ~ .nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 90px;
    left: 0;
    right: -35px;
    text-align: center;
    background-color: var(--color-primary);
    padding: 2em;
    width: 100%;
  }

  #menu__toggle:checked + .menu__btn span:nth-child(1) {
    transform: rotate(45deg) translateY(5px);
  }
  #menu__toggle:checked + .menu__btn span:nth-child(2) {
    transform: rotate(-45deg) translateY(-6px);
  }
  #menu__toggle:checked + .menu__btn span:nth-child(3) {
    display: none;
  }
}

/* HERO SECTION */
.container {
  width: 80%;
  margin: 0 auto;
  min-width: 70%;
  font-family: var(--font-text);
  font-weight: 300;
}

.hero {
  display: flex;
  justify-content: space-around;
  align-items: start;
  padding: 5em 2em;
}

.hero .content {
  color: #fff;
  font-size: 1.35rem;
  flex: 1.5;
  z-index: 5;
}

.info {
  color: var(--color-secondary);
  font-size: 0.885rem;
  font-weight: 600;
}

.hero h1 {
  color: #fff;
  font-size: 5rem;
  font-family: var(--font-titre);
  letter-spacing: 3px;
  line-height: 80px;
}

.hero .subtitle {
  margin: 1em 0 1em 0;
  font-size: 1.125rem;
  font-weight: 200;
}

button {
  border: none;
  background-color: var(--color-button);
  border-radius: 7px;
  padding: 1em 2em;
  font-weight: 700;
  font-size: 0.9rem;
  transition: 0.3s ease-in;
  cursor: pointer;
}

button:hover {
  background-color: var(--color-badge);
}

.delivery {
  position: relative;
  margin-top: 85px;
}

.delivery .circle {
  position: absolute;
  top: -25px;
  left: 10px;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: var(--color-badge);
}

.delivery__person {
  display: flex;
}

.delivery__person img {
  position: absolute;
  top: -40px;
  left: -20px;
  height: 200px;
  transform: rotateY(180deg);
}

.delivery__text {
  position: absolute;
  top: -7px;
  left: 120px;
  background-color: #fff;
  width: 350px;
  padding: 2em 1em;
  z-index: -1;
}

.delivery__text h3 {
  color: var(--color-secondary);
  margin: 0 0 0.5em 1em;
}
.delivery__text p {
  color: black;
  font-size: small;
  margin-left: 3em;
  font-weight: 500;
}

.illustration__content {
  flex: 1;
  z-index: 1;
}

.illustration__back {
  position: relative;
  height: 550px;
  width: 400px;
  background-color: var(--color-button);
  z-index: -1;
}

.illustration__image {
  position: absolute;
  top: 70px;
  right: 10px;
}

.illustration__content img {
  height: 520px;
}

.illustration__contact {
  position: absolute;
  top: 110%;
  left: 70%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: 900;
  line-height: 25px;
}

.phone__number {
  font-size: 1.75rem;
}

@media screen and (max-width: 640px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }

  .hero {
    display: flex;
    flex-direction: column;
    padding: 5em 0em;
  }

  .info {
    font-size: 0.598rem;
  }

  .hero .content {
    flex: 0;
  }

  .hero h1 {
    font-size: 2rem;
    letter-spacing: 1px;
    line-height: 40px;
  }

  .hero .subtitle {
    margin: 1em 0 1em 0;
    font-size: 1.025rem;
    font-weight: 200;
    width: 350px;
  }

  .delivery {
    display: none;
  }

  .illustration__back {
    position: relative;
    top: 60px;
    width: 320px;
    margin: 0 auto;
    height: 150px;
    background-color: var(--color-button);
    z-index: -1;
  }

  .illustration__image {
    top: 420px;
    right: 15px;
  }

  .illustration__content img {
    height: 180px;
  }

  .illustration__contact {
    top: 570px;
    left: 28%;
    transform: translate(-50%, -50%);
    line-height: 19px;
  }

  .phone__number {
    font-size: 0.7rem;
  }
}

/* TABLETTE */
@media screen and (min-width: 640px) and (max-width: 768px) {
  header {
    min-height: 700px;
    width: 100%;
  }

  nav {
    padding: 1em 2em;
    background-color: var(--color-primary);
  }

  nav .logo {
    gap: 3px;
    font-size: 2rem;
  }

  .container {
    width: 90%;
    margin: 0 auto;
  }

  .hero {
    display: flex;
    flex-direction: column;
    padding: 5em 0em;
  }

  .hero h1 {
    font-size: 2.5rem;
    letter-spacing: 1px;
    line-height: 40px;
  }

  .delivery {
    display: none;
  }

  .info {
    font-size: 0.598rem;
  }

  .hero .content {
    flex: 0;
  }

  .illustration__image {
    top: 350px;
    right: 15px;
  }

  .illustration__content img {
    height: 300px;
  }

  .illustration__back {
    position: relative;
    top: 60px;
    width: 650px;
    margin: 0 auto;
    height: 230px;
    background-color: var(--color-button);
    z-index: -1;
  }

  .illustration__contact {
    top: 580px;
    left: 22%;
    transform: translate(-50%, -50%);
    line-height: 19px;
  }

  .phone__number {
    font-size: 1.5rem;
    margin-top: 0.4em;
  }
}
